* {
  box-sizing: border-box;
}

body {
  margin-bottom: 5rem;
}

/* .cards {
  display: flex;
  gap: 2rem;
  margin: auto 5rem;
  justify-content: space-around;
} */

@media screen and (max-width: 730px) {
  /* .cards {
    overflow-y: scroll;
  } */
}
